@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts//GothamRounded-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts//GothamRounded-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts//GothamRounded-Book.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}